<!DOCTYPE html>
<html>
  <head>
    <title>AddressBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
    <div class="row justify-content-center m-0" style="margin-bottom: -5px">
      <div id="flash">
        <%= render 'layouts/flash' %>
      </div>
    </div>
  <% end %>
    <div class="container d-flex justify-content-center">
    <div id="modal-space"></div>
        <div class="row d-lg-flex align-items-lg-center" style="height: 100vh;">
      <div class="col">
        <div class="card d-lg-flex justify-content-lg-start shadow-lg" style="width: 90vw;height: 90vh;border-radius: 20px;border-color: white;">
          <div class="card-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
